<div class="container">
  <header>
    <h1>A Fake Artist</h1>
    <h2>Companion App</h2>
  </header>
  <button mat-raised-button color="primary">Settings</button>
  <main>
    <div class="playerNumber">
      <span class="instructions">Select number of players:</span>
      <div class="buttons">
        <button (click)="numberDown()" mat-icon-button color="primary">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{playerNumber}}</span>
        <button (click)="numberUp()" mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="roomName">
      <span class="instructions">Enter room name:</span>
    </div>

    <a (click)="play()" class="">Play</a>
    <a class="button">Join</a>
    <a class="button">Create</a>
  </main>
</div>
