header {
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0;
  }
}
.playerNumberContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}
.playerNumber {
  width: 100%;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  span {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.message {
  span {
    color: red;
    font-weight: bold;
  }
  mat-spinner {
    margin: auto;
  }

  text-align: center;
  height: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.buttons {
  .button-join {
    width: 97px;
    margin-right: 3px;
  }
  .button-create {
    width: 97px;
    margin-left: 3px;
  }
  .button-offline {
    width: 200px;
    margin-top: 6px;
  }
}
