<div class="container">
  <header>
    <h1>A Fake Artist</h1>
    <h2>Companion App</h2>
  </header>

  <main>
    <div *ngIf="!online" class="playerNumber">
      <span class="instructions">Select number of players:</span>
      <div class="buttons">
        <button mat-icon-button color="primary" (click)="numberDown()">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{playerNumber}}</span>
        <button mat-icon-button color="primary" (click)="numberUp()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="online" class="roomName">
      <span class="instructions">Enter room name:</span>
    </div>

    <button *ngIf="!online" mat-raised-button color="primary" (click)="play()">Play Offline</button>
    <button *ngIf="online" mat-raised-button color="primary">Join</button>
    <button *ngIf="online" mat-raised-button color="primary">Create</button><br />
    <button mat-raised-button color="primary" (click)="switchMode()">Switch Mode</button>
  </main>
</div>
