<div class="container">
  <div class="category">
    <h1>{{prompt.category}}</h1>
  </div>
  <div (click)="toggleWord()" class="wordContainer">
    <div class="word">
      {{wordVisible ? (thisPlayer == fakePlayer ? "Fake" : prompt.word) : "Show Word"}}
    </div>
  </div>
  <div class="playerNumber">
    <button mat-icon-button color="primary" (click)="numberDown()" *ngIf="!online">
      <mat-icon>remove</mat-icon>
    </button>
    <span>{{thisPlayer}} / {{totalPlayers}}</span>
    <button mat-icon-button color="primary" (click)="numberUp()" *ngIf="!online">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="backButton">
    <button (click)="back()" mat-raised-button color="primary">Back</button>
  </div>
</div>
