<div class="container">
  <div class="row center-align">
    <h1>{{prompt.category}}</h1>
  </div>
  <div (click)="toggleWord()">
    <span>
      <div *ngIf="!wordVisible">
        Show Word
      </div>
      <div *ngIf="wordVisible">
        <b>
          {{thisPlayer == fakePlayer ? "FAKE" : prompt.word}}
        </b>
      </div>
    </span>
  </div>
  <div class="playerNumber">
    <button mat-icon-button color="primary" (click)="numberDown()" *ngIf="!online">
      <mat-icon>remove</mat-icon>
    </button>
    <span>{{thisPlayer}} / {{totalPlayers}}</span>
    <button mat-icon-button color="primary" (click)="numberUp()" *ngIf="!online">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="backButton">
    <button (click)="back()" mat-raised-button color="primary">Back</button>
  </div>
</div>
