// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();

$fake-artist-primary: mat-palette($mat-grey);
$fake-artist-accent: mat-palette($mat-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fake-artist-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$fake-artist-theme: mat-light-theme($fake-artist-primary, $fake-artist-accent, $fake-artist-warn);

@include angular-material-theme($fake-artist-theme);
